* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Proxima Nova Rg';
}
body {
	margin: auto !important;
	width: 1220px;
	padding-left: 15px !important;
	padding-right: 15px !important;
	max-width: 100%;
}

.content {
	width: 870px;
	float: right;
	max-width: 100%;
}
.block__title {
	padding: 30px;
}
.block__title  h2{
	font-size: 24px;
	text-align: center;
}
.block__content p {
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	max-width: 90%;
	margin: 0 auto;
}
.title-block {
	margin-top: 30px;
	margin-bottom: 45px;
}
.title-block__btn {
	background-color: #177892;
	width: 230px;
	height: 50px;
	margin-top: 33px;
	margin-left: auto;
	margin-right: auto;
}
.title-block__btn .btn{
	display: block;
	font-size: 16px;
	text-decoration: none;
	color: white;
	line-height: 50px;
	text-align: center; 
}
.title-block__content p {
	width: 100%;
}

.services-grid__items {
	display: flex;
	flex-wrap: wrap;
}
.services-grid__items .grid-item {
	height: 228px;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}
.services-grid__items .grid-item:hover .mask{
	opacity: 0.5;
}
.services-grid__items .grid-item .mask {
	background-color: #177892;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
	opacity: 0;
	transition: .3s ease-in-out;
}
.services-grid__items .grid-item h3 {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	z-index: 10;
	color: #fff;
}
.services-grid__items .grid-item img {
	position: absolute;
	height: 100%;
	width: 100%;
}

.services-block, .goal-block, .problem-block,.team-block,
.ourWorks-block,.order-block,.condition-block,.coop-block,.payment-block {
	margin-bottom: 50px;
}
.goal-block__title,.problem-block__title,.coop-block__title {
	position: relative;
}
.goal-block__title:before, .problem-block__title:before,.coop-block__title:before {
	content: '';
	position: absolute;
	width: 100px;
	height: 85px;
	left: 45%;
	top: -2px;
	display: block;
	background-repeat: no-repeat;
}
.problem-block__title:before {
	background-image: url(img/problem-icon.png);
}
.goal-block__title:before {
	background-image: url(img/goal-icon.png);
}
.coop-block__title:before {
	background-image: url(img/coop-icon.png);
	background-position-y: bottom;
}

.team-cards {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.team-card {
	width: 33%;
	display: block;
}
.team-card .image-thumb {
	display: flex;
	justify-content: center;
	position: relative;
}
.team-card .image-thumb:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -27px;
	left: calc(50% - 12px);
	height: 30px;
	width: 40px;
	background: url(img/team-arrow.png);
	background-repeat: no-repeat;
}
.team-card .name-card {
	margin-top: 25px;
	margin-bottom: 15px;
	text-align: center;
}
.team-card .proffession-card {
	color: #727272;
	font-weight: bold;
}
span.orange {
	color: #ff7f00;
}

.adventages-grid {
	display: flex;
	flex-wrap: wrap;
}
.adventages-item {
	width: 25%;
	display: block;
	padding: 10px 0;
	margin-bottom: 25px ;
}
.adventages-item__img {
	display: flex;
	justify-content: center;
}
.adventages-item__name h3 {
	text-align: center;
	margin-top: 13px;
	padding: 10px 0;
	font-size: 14px;
}
.adventages-item__descr p{
	max-width: 80%;
	text-align: center;
	font-size: 13px;
	color: #282828;
	margin: 0 auto;
}
.works-block__names {
	display: flex;
	flex-wrap: nowrap;
	text-align: center;
	overflow: hidden;
}
.works-block__names a{
	text-decoration: none;
	padding: 25px 16px;
	color: white;
	background-color: #167891;
	font-size: 14px;
}
.works-block__names a.active {
	background-color: #ff7f00;
}
.works-block__descr {
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
}
.works-block__descr h4 {
	font-weight: normal;
	font-size: 16px;
	position: relative;
}
.works-block__descr h4 .orange {
	font-size: 18px;
}
.works-block__descr h4:first-child:after,
.works-block__descr h4:last-child:before {
	content: "";
	display: block;
	position: absolute;
	height: 3px;
	width: 30px;
	background-color: #ccc;
	top: 10px;
}
.works-block__descr h4:first-child:after {
	right: -50px;
}
.works-block__descr h4:last-child:before {
	left: -50px;
}
.works-block__grid {
	margin-top: 42px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	display: flex;
}
.works_tabs {
	display: none;
}
#tabs-1{
	display: block;
}
.works-block__grid .grid_item {
	width: 270px;
	height: 162px;
	padding: 14px;
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
}
.works-block__grid .grid_item:first-child,.works-block__grid .grid_item:nth-child(4) {
	padding-left: 0;
}
.works-block__grid .grid_item:last-child,.works-block__grid .grid_item:nth-child(3) {
	padding-right: 0;
}
.works-block__info,.coop-info {
	display: block;
	padding-left: 20px;
	margin-top: 15px;
}
.works-block__info p,.coop-info p {
	font-style: italic;
	font-size: 16px;
	color: #b40000;
	line-height: 24 pt;
	text-align: center;
}
.order-block__content a {
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 24px; 
}

.else-block__grid {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
}
.else-block__grid .grid-item {
	width: 50%;
	padding: 10px;
	text-align: center;
	margin-bottom: 50px;
}
.else-block__grid .else-img img {
	margin: 0 auto;
}
.else-block__grid .else-img {
	margin-bottom: 30px;
}
.else-block__grid .else-name h4 {
	font-size: 16px;
	margin-bottom: 20px;
}
.else-block__grid .else-descr p {
	max-width: 100%;
}
.condition-block__content a {
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 24px;
}
.condition-block__content p {
	color: #282828;
	margin-top: 20px;
}
.condition-block__btn {
	background-color: #177892;
	width: 230px;
	height: 50px;
	margin-top: 33px;
	margin-left: auto;
	margin-right: auto;
}
.condition-block__btn a {
	display: block;
	font-size: 16px;
	text-decoration: none;
	color: 	white;
	line-height: 50px;
	text-align: center;
}

.payment-block__content	ol.numered {
	counter-reset: myCounter;
}
.payment-block__content .numered li{
	list-style: none;
	position: relative;
	padding: 10px;
	margin-bottom: 10px;
	line-height: 20pt;
	font-weight: bold;
}

.payment-block__content .numered li:before {
	counter-increment: myCounter;
	content:counter(myCounter);
	color: white;
	background: #177892;
	display: inline-block;
	text-align: center;
	line-height: 23px;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	position: absolute;
	left: -30px;
}
.payment-block__content .hidden-ol li:before {
	display: none;
}
.payment-block__content .hidden-ol li {
	margin-bottom: 0;
	padding-bottom: 0;
	font-style: italic;
	font-weight: normal;
}
.btn:hover {
	opacity: 0.7;
}

.our-specialists__content h2 {
	font-size: 18px;
	text-align: center;
}
.our-specialists__content,
.ouradventages-block {
	margin-bottom: 50px;
}
.ouradventages-block__content {
	display: flex;
	justify-content: center;
}
.ouradventages-block__content p{
	text-align: left;
}
.cost-block__line .line {
	height: 1px;
	width: 35%;
	display: block;
	background-color:
	#777;
	position: absolute;
	top: 10px;
}
.cost-block__line {
	position: relative;
	text-align: center;
	font-size: 18px;
}
.cost-block__line .line:last-child {
	right: 0;
}
.cost-block__line .line:first-child {
	left: 0;
}
.cost-block__price {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.cost-block__price span {
	transform: skew(-15deg);
	background: #ff7f00;
	width: 140px;
	margin: 0 auto;
	color: white;
	font-size: 24px;
	font-weight: bold;
	display: block;
	padding: 5px;
}
.cost-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.cost-grid .cost-item {
	width: 50%;
	position: relative;
	overflow: hidden;
	height: 250px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.cost-grid:last-child .cost-item {
	width: 33%;
	position: relative;
	overflow: hidden;
	height: 200px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.mt-50 {
	margin-top: 50px;
}
.cost-item .cost-item__info .info_skew {
	width: 100%;
	transform: skew(-15deg);
	background-color: #167891;
	padding: 15px;
	left: -15px;
	position: relative;
	padding-left: 25px;
}
.cost-item .cost-item__info {
	position: absolute;
	bottom: 0;
	color:#fff;
	text-align: left;
}
.cost-item .cost-item__name {
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	transform: skew(15deg);
}
.cost-item .cost-item__descr p{
	color: #fff;
	font-size: 16px;
	text-align: left;
	margin: 0;
	transform: skew(15deg);
	padding-left: 10px;
	max-width: 100%;
}
.cost-block__btn.btn {
	text-align: center;
	margin-top: 80px;
} 
.cost-block__btn a {
	padding: 15px 20px;
	color: #fff;
	cursor: pointer;
	text-decoration:none;
	background: #ff7f00;
	transition: all .5s ease-in-out;
}
.table-block table {
	width: 100%;
	font-size: 14px;
}
.table-block tr,td {
	padding: 5px;
	padding-left: 15px;
}
.table-block tr:nth-child(2n) {
	background-color: #ffefe0;
}
.table-block thead tr {
	background-color: #ffefe0;
	font-size: 18px; 
}
.table-block #type_work {
	font-size: 16px; 
}
.table-block #name-category {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

@media(max-width:850px)
{
	.team-card {
		width: 100%;
		margin-bottom: 20px;
	}
	.adventages-item {
		width: 100%;
	}
	.works-block__descr h4:first-child::after, .works-block__descr h4:last-child::before{
		display: none;
	}
	.works-block__descr h4 {
		width: 100%;
		text-align: center;
	}
	.works-block__descr {
		flex-direction: column;
	}
	.works-block__names {
		flex-wrap: wrap;
		flex-direction: column;
	}
	.works-block__grid {
		justify-content: center;
	}
	.works-block__grid .grid_item:first-child, .works-block__grid .grid_item:nth-child(4) {
		padding-left: 14px;
	}
	.else-block__grid {
		flex-direction: column;
	}
	.else-block__grid .grid-item {
		width: 100%;
		margin-bottom: 20px;
	}
	.payment-block__content {
		width: 80%;
		margin: 0 auto;
	}
	.cost-block__line .line {
		width: 30%;
	}
}
@media(max-width:600px)
{
	.services-grid__items .grid-item{
		width: 100%;
	}
	.cost-block__line .line {
		width: 13%;
	}
	.cost-grid .cost-item,.cost-grid:last-child .cost-item {
		width: 100%;
	}
}